body {
  font-family: Roboto, Arial, 'Times New Roman', Times, serif;
  background-color: #1F2937;
  color: white;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
  height: auto;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 800;
  border: none;
}


a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 16px;
}

/* HEADER */

.header {
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

/* BODY */
.body {
  display: flex;
  flex-direction: column;
}

/* HERO */
.main-block {
  display: flex;
  flex: none;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 32px;
}

.description p, .text p {
  font-size: 18px;
  color: #E5E7EB;
}

.placeholder-img {
  width: 400px;
  height: auto;
}

/* RANDOM INFO */
.info-block {
  flex: 1;
  background-color: white;
  color: black;
  text-align: center;
  padding: 32px;
}

.container {
  display: flex;
  padding: 0px 15%;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
  border: 3px solid #3882F6;
  border-radius: 5px;
}

/* QUOTE */
.quote-block {
  flex: 1;
  background-color: #E5E7EB;
  color: #1F2937;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quote {
  padding: 0px 12%;
  font-style: italic;
  line-height: 1.5;
}

.quotee {
  margin-right: 15%;
  align-self: flex-end;
  font-weight: 800px;
}

.quote-img {
  display: block;
  width: 30%;
  margin: 2% auto;
}

/* SIGN-UP */
.sign-up {
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

.call-to-action {
  background-color: #3882F6;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-radius: 10px;
  font-weight: 800px;
}

.sign-up-button {
  border-color: white;
  border: solid;
  border-width: 1px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}